.shop{
    background-image: url(../../Assets//images/Rectangle\ 379.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding: 100px 0px 200px 0px;
position: relative;
/* overflow: hidden; */
}
.shop h1.head{
    font-family: 'Jost';
font-size: 76.93px;
font-weight: 900;
line-height: 66.16px;
text-align: center;
color: #360C55;

}
.shop img.dra{
    position: absolute;
    left: 988px;
    top: -273px;
    /* width: 1157px;
    height: 783px; */
}

.second{
    background-image: url(../../Assets//images/second.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
.box{
    background-image: url(../../Assets//images/manabg.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding: 106px 50px;

}
.rect{
    background-image: url(../../Assets//images/textbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px;
    margin-top: -15px;
}
.second h3.recthe{
    font-family: 'Jost';
    font-size: 17px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    color: #fff;

}

.second p.para{
    font-family: 'Jost';
font-size: 17px;
font-weight: 700;
line-height: 34.68px;
text-align: center;
color: #fff;

}
span.price{
    font-family: 'Jost';
font-size: 13px;
font-weight: 700;
line-height: 21.92px;
text-align: center;
color: #fff;
text-decoration:  line-through;
}
.second button.cart{
    background-color: #000;
    color: #fff;
    font-family: 'Jost';
    font-size: 13px;
    font-weight: 400;
    line-height: 21.37px;
    text-align: center;
    padding: 0px 0px 0px 14px;
    border: 0px #000;
    border-radius: 16px;

}
.cartbtn{
    justify-content: center;
    display: flex;
}
.carticon{
    background-color: #360C55;
    border-radius: 0px 16px 16px 0px;
    padding: 10px;
    
}
.cardrow{
    margin-top: -105px;
    position: relative;
    padding-bottom: 10px;
}
.second h2.limit{
    font-family: 'Jost';
font-size: 32.18px;
font-weight: 600;
line-height: 46.51px;
text-align: center;
color:#360C55;
background: #fff;

}
.timebg{
    /* background-image: url(../../Assets//images/timebg.png); */
    /* background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(../../Assets//images/timebg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 106px 50px;
    background-color: #360c55ad;
}
.second img.harry{
    height: 317px;
    width: 100%;

}
.second h4.harryhead{
    font-family: 'Jost';
font-size: 62.6px;
font-weight: 600;
line-height: 90.46px;
color: #fff;

}
.second p.harrypara{
    font-family: 'Poppins';
font-size: 16px;
font-weight: 400;
line-height: 42px;
text-align: justified;
color: #DEDEDE;
}
.second p.timer{
    font-family: 'Poppins';
font-size: 28.17px;
font-weight: 700;
line-height: 42.25px;

color:#fff;
background-color: transparent;
}
.subscription{
    background-image: url(../../Assets//images/subscription.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0px 200px 0px;
    margin-top: -51px;
}
.subscription h1.subs{
    font-family: 'Jost';
    font-size: 76.93px;
    font-weight: 900;
    line-height: 66.16px;
    text-align: center;
    color: #360C55;
}
.eco{
    background-image: url(../../Assets//images/subs.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 20px 200px 20px;
    margin-top: -51px;
    border-radius: 20px;
}
.price{
    margin-top: -82px;
    padding-bottom: 70px;
}
.price p.ecohead{
    font-family: 'Jost';
font-size: 25px;
font-weight: 400;
line-height: 42.84px;
text-align: justified;
color: #fff;
}
.price p.ecohead1{
    font-family: Jost;
    font-size: 34px;
    font-weight: 500;
    line-height: 71.4px;
    text-align: justified;
color: #fff;
}
.price button.cart{
    background-color: #000;
    color: #fff;
    font-family: 'Jost';
    font-size: 13px;
    font-weight: 400;
    line-height: 21.37px;
    text-align: center;
    padding: 0px 0px 0px 14px;
    border: 0px #000;
    border-radius: 16px;

}
.hori{
    color:#fff ;
}
.price p.plan{
    font-family: 'Jost';
    font-size: 17px;
    font-weight: 400;
    line-height: 31.42px;
    text-align: justified;
    color: #fff;
    padding-bottom: 30px;
}
.check{
    display: flex;
    gap:5px;
    padding-bottom: 30px;
}
.price p.point{
    font-family: Jost;
font-size: 14px;
font-weight: 400;

text-align: justified;
color: #fff;
}
.price img.chk{
width: 20px;
height: 20px;
}
.basic{
    background-image: url(../../Assets//images/basic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 20px 200px 20px;
    margin-top: -51px;
    border-radius: 20px;
}
.pre{
    background-image: url(../../Assets//images/pre.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px 20px 47px 20px;
    margin-top: -51px;
    border-radius: 20px;
}

@media (max-width: 1024px) {

    .shop img.dra {
        display: none;
    }
    .subscription h1.subs {

        font-size: 31.93px;
}
.shop h1.head {
   
    font-size: 31.93px;
}
.rect {
   
    margin-bottom: 30px;
}
}



@media only screen and (max-width: 768px) {
    .price p.point {
        font-size: 11px;  
    }
    .price p.plan {       
        font-size: 15px;
}
}
@media (max-width: 425px) {
    .basic {
        margin-top: 20px;
    }
    .pre{
        margin-top: 20px; 
    }
}
@media only screen and (min-width: 2560px){
    .shop img.dra {
       
        left: 1646px;
    }
       
    }
    @media only screen and (max-width: 1440px){
        .shop img.dra {
           
            left: 526px;
           
        }
        }