.bestselling_books {
  /* background-image: url(../../Assets/images/missionImage.png); */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.mission_box_div{
  display: flex;
  justify-content: end;
}
.animated_mission_image{
position: relative;
}
 .mission_box{
  width: 16%;
  position: absolute;
  top: 978px;
 }

.bestSell__mission-sec {
  background-image: url(../../Assets/images/missionbg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 100px 0 0;
  position: relative;
  height: 353px;
}

.bestSell__book-cartoon1 img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 170px;
}

.bestSell__book-title {
  margin-bottom: 30px;
}

/* .bestSell__book-title h2 {
  font-size: 55px;
  font-weight: 900;
  -webkit-text-stroke: 2px #6100a8;
  -webkit-text-fill-color: #fff;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
} */
 .bestSell__spin_book-title {
  font-family: fantasy;
  font-size: 65px;
  font-weight: 900;
  line-height: 64px;
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #6100a8;
  color: #fff;
}

.bestSelling__books {
  position: relative;
}

.bestSelling__books img {
  width: 100%;
}

.bestSell__book-cartoon2 img {
  position: absolute;
  right: 50px;
  width: auto;
  bottom: -30px;
}

.bestSell__bookListing-sec {
  padding: 130px 0 !important;
}

.sc-gsTCUz {
  width: 100%;
  /* text-align: right; */
  margin: auto;

}

.spincolor {
  padding: 4px 11px;
  /* border: 2px solid red; */
  border-radius: 5px;
  /* padding: 5px; */
  background-color: #8030cc;
  text-align: white;
  color: white;
}

.filters__tabs {
  display: flex;
  justify-content: space-between;
  border: 2px solid #360c55;
  padding: 3px;
  border-radius: 25px;
  background: #fff;
}

.filters__tabs .filters__tab {
  border: none;
  background: #fff;
  padding: 7px 30px;
  border-radius: 25px;
}

.filters__tabs .filters__tab.filters__tab-active {
  background: #360c55;
  color: #fff;
}

.filters__category select,
.filters__pricing select {
  border: 2px solid #360c55;
  padding: 5px 20px;
  border-radius: 25px;
}

.filters__category select:focus,
.filters__pricing select:focus {
  box-shadow: unset;
  border: 2px solid #360c55;
}

.filters__search {
  border: 2px solid #360c55;
  padding: 3px;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}

.filters__search .filters__search-btn {
  border: none;
  background: #360c55;
  color: #fff;
  padding: 7px 30px;
  border-radius: 25px !important;
}

.filters__search .filters__search-input {
  border: none;
  font-size: 14px;
  padding: 3px 5px;
}

.filters__search .filters__search-input:focus {
  box-shadow: unset;
}

.filters__search .filters__search-icon {
  border: unset;
  padding: 3px 10px;
}

.filters__search .filters__search-icon:hover {
  background: transparent;
  color: #000;
}

/* Best Books Listing Start Here */
.bestBooks__listing {
  margin-top: 60px;
}

.bestBooks__list {
  width: 90%;
  margin: 0 auto 50px;
  position: relative;
}

.bestBooks__list img {
  width: 100%;
}

.bestBooks__list-overlay .bestBooks__purchase-btn {
  border: none;
  background: #fff;
  padding: 8px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #360c55;
}

.bestBooks__list-body {
  margin: 20px 0;
  text-align: center;
}

.bestBooks__list-body .bestBooks__list-title {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;

  line-height: 1.5;
}

.bestBooks__list-body .bestBooks__list-text {
  font-size: 15px;
  color: #000;
  opacity: 1;
  line-height: 1.5;
}

.bestBooks__list-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestBooks__list:hover .bestBooks__list-overlay {
  bottom: 0;
  height: 100%;
}

.bestBooks__list-img {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.book__listing-pagination {
  margin-top: 20px;
}

.book__listing-pagination .pagination {
  justify-content: center;
}

.book__listing-pagination .pagination .page-link {
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background: #6565658a;
  color: #fff;
  border-radius: 50%;
  margin: 0 5px;
}

.book__listing-pagination .pagination .page-link.page_link-active {
  background: #360c55;
}

.book__listing-pagination .pagination .page-link:focus {
  box-shadow: none;
}

/* Best Books Listing Ends Here */





.bg-spiner {
  position: relative;

  text-align: center;
  margin-top: -204px;
}

img.spiner-img {
  height: 472px;
}

.missionimg1 {
  background-image: url(../../Assets//images/missionbg1.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 40px 0 0;
  position: relative;
  height: 100%;
}

.missionimg2 {
  background-image: url(../../Assets/images//missionbg2.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 40px 0 0;
  position: relative;
  height: 99%;
}

.missionimg3 {
  background-image: url(../../Assets//images/missionbg3.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 40px 0 0;
  position: relative;
  height: 99%;
}

.spiner-ione-time {
  text-align: center;
  padding: 10px 0px;
  background-color: #8030cc !important;
  color: white;
}

.connect {
  color: white;
  /* gap: 35px; */
  /* padding: 0px 46px; */
  align-items: center;
  /* justify-content: center; */
  margin-left: 9px;
  margin-bottom: 13px;
}

.percentage {
  align-items: center !important;
  justify-content: center !important;
  height: 86px;
}

img.radioimg {
  width: 18px;
  height: 18px;
}

.spinerpercentage {
  align-items: center !important;
  justify-content: center !important;
  height: 86px;
}

/* 
.percentage{
  display: block;
  text-align: center;
} */
.spinerpercentage {
  display: block;
  text-align: center;
}

.mana {
  color: #e6d0ff;
  font-size: 12px;
}

.reading {
  font-size: unset;
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 0px;
}

.missionpara {
  font-size: smaller;
  margin-top: -6px;
}
.completed_div{
  margin: 7px 0px;
  background-color: #C385FF;
  align-items: center;
  text-align: center;
  border-radius: 17px;
  width: 273px;
}
.completespercent {
  background-color: #360c55;
  color: white;
  width: 247px;;
  /* align-items: center;
  display: block;
  justify-content: center; */
  border-radius: 17px;
  padding: 2px 38px;
  text-align: center;
}

.complete-all {
  color: #6100a8;
  background-color: #d9c5c5;
  padding: 4px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-weight: 900;
  /* backdrop-filter: opacity(0.6); */
  filter: opacity(0.7);
}

.manacoin1 {
  background-image: url(../../Assets//images/mana-coin.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 100px 0 0;
  position: relative;
  /* width: 109px; */
  align-items: center;
  display: block;
  justify-content: center;
  margin-top: -8px;
  height: 35%;
  width: 31%;
}


.manacoin2 {
  background-image: url(../../Assets//images/mana-coin.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 100px 0 0;
  position: relative;
  /* width: 103px; */
  align-items: center;
  display: block;
  justify-content: center;
  margin-top: -9px;
  height: 35%;
  width: 31%;

}

.manaco {
  color: #E6D0FF;
  margin-left: 10px;
}

.manaco1 {
  color: #E6D0FF;
  margin-left: 31px;
  margin-top: 26px;
}

.manaco2 {
  color: #E6D0FF;
  margin-left: 29px;
  margin-top:  25px

}

.cnt {
  font-size: 14px;
}

.coinimg {
  height: 30px;
  width: 30px;
}

@media (max-width: 1024px) {
  .filters__tabs .filters__tab {
    padding: 7px 20px;
  }
  .mission_box {
    top: 924px !important;
}
  .bestSell__book-title h2 {
    font-size: 40px;
  }

  .bestSell__book-cartoon2 img {
    right: 50px;
    width: 25%;
  }

  .bestSell__book-sec {
    padding: 50px 0 0;
  }

  .bestSell__book-cartoon1 img {
    width: 110px;
  }
}

@media (max-width: 768px) {
  .filters__search {
    margin-top: 20px;
  }
  .reading {
    font-size: 15px;
}
.missionpara {
  font-size: 12px;
  margin-top: -4px;
}
  .bestSell__book-title h2 {
    font-size: 33px;
  }
  .mission_box {
    top: 965px !important;
}
}


@media (max-width: 480px) {

  .filters__category,
  .filters__pricing {
    margin-top: 20px;
  }

  .bestSell__book-cartoon1 img {
    width: 70px;
  }

  .bestSell__book-cartoon2 img {
    right: 20px;
    width: 23%;
    bottom: -10px;
  }
}

@media (max-width: 425px) {
  img.spiner-img {
    height: 317px;
  }
  .spiner-ione-time{
    margin-top: 20px;
  }
.mission_box{
  display: none;
}
  /* .missionimg2 {
    margin-top: 20px;
  }

  .missionimg3 {
    margin-top: 40px;
  } */
}
@media (max-width:600px){
  .mission_box {
    width: 29%;
    top: 913px;
}

}
@media (max-width: 990px) {
  .cnt {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0;
    font-size: 12px;
}
.completed_div {
  width: 199px;
}
.completespercent {

  width: 171px;
}

.manacoin1 {
  padding: 65px 0 0;
  width: 97px;
  display: block;
  margin-top: -7px;
  height: 147px;
}
.manacoin2 {
  padding: 88px 0 0;
  width: 96px;
  margin-top: -8px;
  height: 127px;
}
.missionimg1 {
      padding: 40px 0px 136px 0px;
      height: auto;
  }
.missionimg2 {
      padding: 40px 0px 27px 0px;
      height: auto;
  }
.missionimg3 {
      padding: 40px 0px 11px 0px;
      height: auto;
  }
.complete-all {
  font-size: 12px;
}
.manaco1 {
   margin-left: 31px;
  font-size: 13px;
  margin-top: 46px;
}
.manaco2 {
    margin-left: 31px;
    font-size: 12px;
    margin-top: 12px;
}
}
@media (max-width:1440px){
  .mission_box{
    top: 1045px;

  }
}

@media (min-width:2560px){
  .mission_box {
    width: 11%;
    top: 991px;
  }
}

/* //////////////////// */