.coverr{
  background-image: url(../../Assets//images/newbanner.png);
  background-position: center;
  background-size:  cover;
  background-repeat: no-repeat;
  padding: 60px 0px;
}
.coverr button.lib{
  font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    background: #360c55;
    color: #FFFFFF;
    border-radius: 38px;
    border: 1px solid #360c55;
    padding-right: 0px;
    text-align: center;
    padding: 4px 52px;
    position: relative;}

  .mid {
      padding: 0px 24px;
  }

.btnrrw{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btnrow{
  display: flex;
  justify-content: end;
  padding: 0px 14px;
  
}
.watch{
  position: relative;
  text-align: center;
}
.polygoon{
  position: absolute;
  top: 489px;
  left: 813px;
  width: 35px;

}
.coverr button.history{
  background: #D2D2D2;
    color: #282828;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    border-radius: 59px;
    padding: 4px 52px;
    border: #D2D2D2;
}

.coverr button.hist{
  background: #D2D2D2;
  color: #282828;
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  border-radius: 59px;
  padding: 4px 52px;
  border: #D2D2D2;

}
.bookk{
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 85px;
}
.bookk img.bookcover{
  margin-top: -20px;
  padding-bottom: 28px;
}
.bookk img.clock{
  position: absolute;
  left: -11px;
  top: -43px;
 

}
.bookk img.vote{
  width: 20px;
  height: 20px
}
.bookk h3.name{
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  line-height: 30.17px;
  text-align: left;
  color: #2E2E2E;
  padding: 14px;

}
.description{
display: flex;
justify-content: space-between;
}
.bookk button.category{
  font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    color: #360C55;
    background: #D9D9D9;
    border: #d9d9d9;
    padding: 5px 33px;
    border-radius: 23px;
}
.mainly{
  display: flex;
  gap: 10px;
}
.raate{
  color: #360C55;
    display: flex;
    padding: 20px;


}
.bookk p.rating{
  font-family: 'Jost';
font-size: 14.45px;
font-weight: 600;
line-height: 25.69px;
color: #360C55;
line-height: 17.69px;
margin-bottom: 0px;
}
.bookk p.detail{
  font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 28.85px;
    color: #2C2C2C;
    padding: 0px 25px 15px 25px;

}
.res{
  display:flex;
  gap:10px;
}
span.view{
  font-family: 'Jost';
  font-size: 14.45px;
  font-weight: 700;
  line-height: 25.69px;
  color: #360C55;
  background: transparent;
  border: transparent;
  padding: 0px;
  text-decoration: underline;
  cursor: pointer;
}
.linee{
  border: 1px solid #360C55;

}
.bookk p.numm{
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  padding: 0px 15px;
  color: #282828;

}
span.numb{
  font-family: 'Poppins';
font-size: 13px;
font-weight: 700;
line-height: 27px;
text-align: left;
color: #AD0000;}

span.dropp{
  font-family: 'Poppins';
font-size: 13px;
font-weight: 700;
line-height: 27px;
text-align: left;
color: #360C55;


}
span.pickk{
  font-family: 'Poppins';
font-size: 13px;
font-weight: 700;
line-height: 27px;
text-align: left;
color: #169B00;



}

.bookk button.read{
  font-family: 'Poppins';
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  background: #FFFFFF;
  color: #FFFFFF;
  border-radius: 38px;
  border: #fff;
  padding-right: 0px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 0px;

}

.iicon{

  /* padding: 4px; */
  background: #360C55;
  border-radius: 1px 18px 17px 0px;
  padding: 10px 15px 10px 11px;
}
.coverr button.reading{
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  background: #fff;
  color: #360c55;
  border-radius: 38px;
  border: 0px solid #fff;
  padding-right: 0px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 0px;
}


.icons{

  /* padding: 4px; */
  background: #360C55;
  border-radius: 1px 18px 17px 0px;
  padding: 9px 18px 9px 11px
}
@media only screen and (max-width: 1024px){
  .btnrrw{
     
  } 
  .iicon {
     
      padding: 10px 11px 10px 11px;
  }

  .polygoon{
      display: none;
  }
  .btnrow {
      justify-content: left;

  }
  .bookk button.read {
      font-size: 10px;
      gap: 12px;
  
  }
  /* .res{
      display: none;
  } */
  .bookk button.category {
  margin-top: 6px;
  }
  .bookk {
    
      padding-bottom: 20px;
  }
  /* .icons{
      padding: 7px 5px 3px 5px;
  } */
  .coverr button.reading {
      font-size: 10.45px;
      padding-left: 15px;
  
  }
  .bookk {
    
      margin-bottom: 60px;
  }
  .coverr button {
      font-size: 12px;
      padding: 2px 14px;
 
  }
  .coverr button.hist {
 
      font-size: 12px;
      
      padding: 2px 14px;
     
  }
  .coverr button.history {
    font-size: 12px;
    padding: 2px 26px;
  }
  .coverr button.lib{
    font-size: 12px;
    padding: 2px 26px;
  }
  .bookk img.bookcover {

      padding-bottom: 0px;
  }
  .bookk h3.name {

      font-size: 19.28px;
}

/* .book img.clock {

  left: 40px;

} */
.btnrrw {
  justify-content: left;
  padding: 0px 14px;
  flex-wrap: wrap;
  display: flex;
}
.bookk button.read {
  font-size: 13px;
 
}

}
/* @media only screen and (max-width: 320px){
  .book img.clock {
      top: -33px;
      width: 25%;
  }
} */


@media only screen and (max-width: 768px){
 .bookk img.vote{
  width: 26px;
  height: 32px;
}
 .res{
  display: flex;
 }
 

}
@media only screen and (max-width: 1440px){
  /* .book button.read {
      font-size: 10px;
      gap: 12px;
  
  } */
  .polygoon {
    
    left: 494px;

  }
}
@media only screen and (min-width: 2560px){
  .polygoon {
    left: 1149px;

  }
  .bookk img.clock {
      left: 35px;
  }
}

@media only screen and (max-width: 375px){
  .bookk img.clock {
      left: 50px;
  }
}
@media only screen and (max-width: 768px){
  .bookk img.clock {
      left: 79px;
  }
}



