


.banner-sec,
.top-authors,
.mana-coin,
.feature-books,
.popular-tags,
.join-us,
.completed-novel {
  overflow: hidden;
}

/* Typing Effect Start */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    /* border-color: #fff; */
  }
}
/* Typing Effect End */

/* Navigation  Start*/
.header__logo {
  margin-bottom: -100%;
}
.header__logo a.navbar-brand {
  margin-right: 0;
}
.header-navbar .navbar {
  padding-bottom: 0;
}
.header-navbar .header__logo-img {
  width: 140px;
  margin: auto;
  background: transparent;
  border: none;
  border-radius: 50%;
}
.header-navbar .navbar-nav .nav-link.active {
  color: #360c55;
}
.header-navbar .navbar-nav .nav-link.active:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: #360c55;
  border-radius: 20%;
  position: relative;
  top: 20px;
}
.header-navbar .navbar-nav .nav-link {
  color: #838383;
  padding: 20px 10px;
  font-size: 16px;
}

/* Navigation  End*/

/* Update Navbar Start */
.header-navbar.jost-font {
  padding: 15px 0;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-navbar-list {
  list-style: none;
  margin: 0 15px;
}
.main-navbar {
  display: flex;
  justify-content: start;
}
.main-navbar-2 {
  justify-content: end;
}
.main-navbar-logo img {
  width: 140px;
  margin: auto;
  background: transparent;
  border: none;
  border-radius: 50%;
  margin-bottom: -58%;
  z-index: 9999;
  position: relative;
}
.main-navbar-logo {
  display: flex;
  align-items: center;
}
.main-navbar .main-navbar-link {
  color: #838383;
  padding: 30px 0px;
  font-size: 16px;
}
.main-navbar .main-navbar-link.navbar-active {
  color: #360c55;
}
.main-navbar .main-navbar-link.navbar-active:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: #360c55;
  border-radius: 20%;
  position: relative;
  top: 30px;
}
.searchbox-and-icon-container {
  display: flex;
  column-gap: 10px;
}
.header__search {
  border: 1px solid #c1c1c1;
  border-radius: 30px;
  overflow: hidden;
  /* margin-top: -10px; */
}
.header__search input.form-control {
  border: none;
  padding: 10px;
  font-size: 12px;
}
.header__search input.form-control:focus {
  box-shadow: none;
  border: none;
}
.header__search .search__btn {
  padding-right: 0;
  border: none;
}
.header__search .search__btn:hover {
  color: #c1c1c1;
  background-color: unset;
  border: none;
}
.header__search .category__icon {
  border: none;
  background: #360c55;
  color: #fff;
}
.user__icon-container {
  display: flex;
  /* margin-top: -10px; */
}
.user__icon-container a {
  padding: 10px 10px !important;
  color: #fff !important;
}
.user__icon-container .user__icon {
  background: #111111;
  border-radius: 20px 0 0 20px;
}
.user__icon-container .user__icon-plus {
  background: #360c55;
  border-radius: 0 20px 20px 0;
}
/* Update Navbar End */

/* Banner Section Start */
.banner-sec {
  padding: 80px 0 0px;
  background-image: url(../../../src/Assets/images/bannerbg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner-sec .section__heading h1 {
  font-size: 188px;
}
.banner-sec .section__heading h2 {
  line-height: 1;
  margin-top: 0px;
  color: #fff;
}
.special_little {
  display: block;
}
.banner-sec .section__heading p {
  margin: 10px auto 15px auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #fff;
}
.banner-sec .join__us-btns .offer__icon {
  background-color: #360c55;
  color: #fff;
}
.banner__img-sec img {
  display: block;
  margin: 0 auto;
}
.banner-sec .banner__img-sec img {
  max-width: 1300px;
}
.banner-sec button.slick-arrow.slick-next {
  right: 25%;
  top: 63%;
  opacity: 1;
  z-index: 99;
}
.banner-sec button.slick-arrow.slick-prev {
  left: 23%;
  top: 63%;
  opacity: 1;
  z-index: 99;
}
.banner-sec .slick-arrow.slick-next::before {
  content: url(../../../src/Assets/images/slick-next-white.png);
  opacity: 1;
  transition: all 0.15s;
  background: #360c55;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-sec .slick-arrow.slick-prev::before {
  content: url(../../../src/Assets/images/slick-preve-white.png);
  opacity: 1;
  transition: all 0.15s;
  background: #360c55;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-sec .slick-arrow.slick-prev::before,
.banner-sec .slick-arrow.slick-next::before {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.9);
}

/* Banner Section End */




/* Social Section Start */
.social-section {
  padding: 40px 0;
  background: #000;
}
/* Social Section End */

/* Top Authors Start Here */
.top-authors {
  padding: 60px 0;
  background-image: url(../../../src/Assets/images/topauthor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.top__author-cartoon img {
  position: absolute;
  bottom: 0;
  height: 90%;
}
.top__author-before img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
}
.top__author-after img {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
}
.section__heading {
  text-align: center;
  margin-bottom: 40px;
  z-index: 99;
}
.section__heading h1 {
  font-size: 207px;
  font-weight: 900;
  -webkit-text-stroke: 1px #370c5585;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  line-height: 1;
}
.section__heading h2 {
  font-size: 94px;
  font-weight: 900;
  margin-top: -121px;
  color: #360c55;
  position: relative;
}
.section__heading p {
  font-size: 15px;
  margin: 30px auto;
  max-width: 790px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section__heading .tags {
  margin: 30px 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.section__heading .tags .tag {
  padding: 10px 20px;
  background-color: #360c55;
  margin: 0 10px;
  color: #fff;
  border-radius: 30px;
}
.cart__icon-arrow {
  transform: rotate(-45deg);
}

.top-authors .slick-slide {
  padding: 0 10px 0 10px;
}
.top-authors button.slick-arrow.slick-next {
  right: 1%;
  top: 40%;
  opacity: 1;
}
.top-authors button.slick-arrow.slick-prev {
  left: -5px;
  top: 40%;
  z-index: 999;
}
.top-authors .slick-arrow.slick-next::before {
  content: url(../../../src/Assets/images/slick-next-white.png);
  opacity: 1;
  transition: all 0.15s;
  background: #6100a8;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-authors .slick-arrow.slick-prev::before {
  content: url(../../../src/Assets/images/slick-preve-white.png);
  opacity: 1;
  transition: all 0.15s;
  background: #6100a8;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Follow Section Start */
.follow-us {
  background-color: #000;
  padding: 50px 0;
}
.follow-us .follow-us-title {
  color: #fff;
  font-weight: 500;
}

/* Follow Section End */

.author__poduct img {
  width: 100%;
}
.author__poduct {
  position: relative;
}

.cart_overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}
.cart__box {
  border: 1px solid #fff;
  padding: 20px 40px 0;
  margin: auto 25px;
}
.cart__icons {
  display: flex;
  justify-content: space-between;
}

.cart__icon {
  color: #000;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 22px;
  margin: 10px 5px;
}
.addToCart__btn {
  font-size: 23px;
  width: 100%;
  color: #360c55;
  border: none;
  margin-top: 19px;
  padding: 10px;
}

.author__poduct:hover .cart_overlay {
  bottom: 0;
  height: 100%;
}

.product__titled-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.author__poduct_title {
  font-size: 22px;
  text-align: left;
  font-weight: 700;
  margin-right: 25px;
}
/* .product__icon {
  font-size: 22px;
} */
.product__icon img {
  width: 20px;
}
.product__price {
  text-align-last: left;
}
.product__price span {
  margin-right: 5px;
  line-height: 1;
}
.product__price .discount__price {
  font-size: 34px;
  font-family: "aeriast";
}
.product__price .actual__price {
  font-size: 23px;
  text-decoration: line-through;
  font-family: "aeriast";
}
/* Top Auther End Here */

/* Mana Coins Start */
.mana-coin {
  padding: 60px 0 0;
  background-image: url(../../../src/Assets/images/mana-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.mana-display img {
  display: block;
  max-width: 345px;
  margin: 0 auto 0;
  z-index: 999999;
}
.mana-coin .section__heading h1 {
  -webkit-text-stroke: 2px #d1d1d185;
  -webkit-text-fill-color: transparent;
}
.mana-coin .section__heading p {
  color: #fff;
}
/* .mana-coin .section__heading h2::before {
  background-image: url(../../../src/Assets/images/mana-coins.png);
  background-size: 10px 20px;
  display: inline-block;
  width: 10px;
  height: 20px;
  content: "";
}
.mana-coin .section__heading h2::after {
  content: url(../../../src/Assets/images/mana-coins.png);
} */
.mana-coin .section__heading h2::before,
.mana-coin .section__heading h2::after {
  background-image: url(../../../src/Assets/images/mana-coins.png);
  background-size: 100%;
  display: inline-block;
  width: 70px;
  height: 80px;
  content: "";
  background-repeat: no-repeat;
}

.mana-coin .join__us-btns .offer__icon {
  background-color: #360c55;
}
.mana-anime img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 350px;
  z-index: 99;
}
/* Mana Coins End */

/* Combine Sec BG Start */
.combine-section {
  background-image: url(../../../src/Assets/images/mul-sec-bg.jpg);
  background-size: 100% 85%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
/* Combine Sec BG End */

/* Featured Book Here */
.feature-books {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../../src/Assets/images/Featured_bg.png); */
  background-image: url(../../../src/Assets/images/featured-bg-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 60px 0 0;
}
.feature-books .section__heading p,
.feature-books .section__heading h2 {
  color: #fff;
}
.feature-books .section__heading h2 {
  margin-top: -140px;
}
.feature-books .section__heading h1 {
  -webkit-text-stroke: 1px #fff;
  opacity: 0.3;
}
.featured__books h3.card-title {
  font-size: 26px;
  font-weight: 700;
}
.featured__books p {
  font-size: 17px;
  color: #535353;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.featured__book-desc {
  font-size: 16px;
  line-height: 2;
}
.featured__books .card {
  border: 1px solid #000;
}
.featured__books .card,
.featured__books .card-img-top {
  border-radius: unset;
}
.featured__books .card-body {
  padding: 25px;
}
.product__price-div {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.feature-books .discount__price {
  font-size: 26px;
  font-weight: 700;
  color: #360c55;
}
.feature-books .actual__price {
  font-size: 14px;
  color: #360c55;
}
.feature-books .product__price-div {
  margin: 12px 0;
}
.product_hover-effect:hover .product__price-div .product__icon img {
  filter: brightness(0) invert(1);
}
.rating__div {
  color: #f8c100;
}

.product_hover-effect:hover .featured_books-body,
.product_hover-effect:hover .featured_books-body h3,
.product_hover-effect:hover .featured_books-body p,
.product_hover-effect:hover .featured_books-body .discount__price,
.product_hover-effect:hover .featured_books-body .actual__price {
  transition: all 0.5s;
}
.product_hover-effect:hover .featured_books-body {
  /* background-color: #360c55; */
  background-image: url(../../../src/Assets/images/books-hover-bg.png);
  background-size: cover;
}
.product_hover-effect:hover .featured_books-body h3,
.product_hover-effect:hover .featured_books-body p,
.product_hover-effect:hover .featured_books-body .discount__price {
  color: #fff;
}
.product_hover-effect:hover .featured_books-body .actual__price {
  color: #868686;
}

/* Featured Book End Here */

/* Hary Potter Section Start Here */

.harry-potter {
  margin: 50px 0;
}
.harry-potter-bg {
  background-image: url(../../../src/Assets/images/harrypotter-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.harry__potter-img img {
  width: 100%;
}
.harry__potter-content h1 {
  font-size: 62px;
  font-weight: 500;
  color: #fff;
}
.harry__potter-content p {
  font-size: 16px;
  line-height: 42px;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.harry__potter-section {
  padding: 60px 40px 60px 30px;
}
.offer-remain-time {
  /* background: rebeccapurple; */
  background: linear-gradient(
    90.08deg,
    rgba(255, 255, 255, 0.2) -25.07%,
    rgba(255, 255, 255, 0) 51.22%,
    rgba(255, 255, 255, 0.2) 111.34%
  );
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  padding: 20px;
  border-radius: 30px;
  margin-right: 20px;
}
.offer-end {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}
.offer-lable {
  font-size: 28px;
}
.offer-btn-group button {
  color: #fff;
  padding: 0px 0px 0px 35px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  background: #000;
  overflow: hidden;
}
.offer__icon {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  background-color: #360c55ed;
  height: 100%;
  padding: 15px 20px;
  margin-left: 30px;
}

.harrypotter_books {
  background: #f3f3f3;
  /* border-right: 3px solid #cfcfcf; */
}
.harrypotter_books-title {
  font-size: 14px;
  font-weight: 700;
  max-width: 10ch;
}
.harrypotter_books-body {
  font-size: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.harrypotter_books-price .discount__price {
  font-size: 20px;
  font-weight: 400;
}
.harrypotter_books-price .actual__price {
  font-size: 15px;
  font-weight: 400;
}
.harrypotter_book {
  padding: 10px;
  /* background-color: #f3f3f3; */
  /* border-right: 3px solid #cfcfcf; */
}
.harrypotter_book.active {
  /* border-right: 3px solid #360c55; */
}

.harrypotter_book img {
  max-width: 100%;
  transform: scale(1.3);
}
.harrypotter_books-col {
  background: #f3f3f3;
  overflow-y: scroll;
  border-left: 20px solid #fff;
  height: 513px;
}
/* width */
.harrypotter_books-col::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.harrypotter_books-col::-webkit-scrollbar-track {
  background: #cfcfcf;
}
.harrypotter_books-col::-webkit-scrollbar-thumb {
  background: #360c55;
}
/* Hary Potter Section END Here */

/* Populat Tags Start here */
.popular-tags {
  padding: 50px 0;
  position: relative;
}
.top__popular-anime img {
  position: absolute;
  bottom: -20px;
  height: 90%;
}
.large-tags {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.large-tags .large-tag {
  background-color: #360c55;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 20px;
}
/* .joins-and-tags {
  background-image: url(../../../src/Assets/images/joins-and-tags-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */
.join-us .section__heading {
  /* background: #360c55; */
  background-image: url(../../../src/Assets/images/join-us-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 50px;
  padding: 50px 0;
  margin-bottom: 0;
}
.join-us .section__heading h2 {
  color: #fff;
}
.join-us .section__heading h1 {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}
.join-us .section__heading p {
  color: #fff;
  opacity: 0.8;
}
.join__us-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.join__us-btns .join__us-btn {
  color: #fff;
  padding: 0px 0px 0px 25px;
  border: none;
  border-radius: 30px;
  background: #000;
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 10px;
}
.join__us-btns .offer__icon {
  background-color: #fff;
  color: #360c55;
  font-size: 20px;
  padding: 10px 20px 10px 10px;
  margin-left: 15px;
}
.popular-container {
  z-index: 99;
}
.popular-before img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
}
.popular-after img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
}
/* Populat Tags ENd here */

/* Completed Novels Start */
.completed-novel {
  background-image: url(../../../src/Assets/images/completednovel-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 150px;
}
.completed-novel .section__heading h1 {
  -webkit-text-stroke: 1px #ffffff0a;
}
.completed-novel .section__heading h2 {
  color: #fff;
}
.completed-novel .section__heading p {
  color: #fff;
}
.completed__novel-card {
  padding: 20px;
  border: none;
}
.novel__card-boxshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.completed__novel-card .card-body {
  padding: 16px 0 0;
}
.completed__novel-card .card-title {
  font-size: 28px;
  font-weight: 700;
}
.completed__novel-card .product__price-div {
  color: #360c55;
}
.completed__novel-card .product__price-div .discount__price {
  font-size: 28px;
  margin-right: 5px;
  font-family: "Jost", sans-serif;
  font-style: normal;
}
.completed__novel-card .product__price-div .actual__price {
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-style: normal;
}
.completed__novel-cards {
  max-width: 1480px;
}
.completed__novel-cards .slick-slide {
  padding: 0 10px 20px 10px;
}
.completed__novel-cards button.slick-arrow.slick-next {
  right: -3%;
  top: 40%;
}
.completed__novel-cards button.slick-arrow.slick-prev {
  left: 100%;
  top: 50%;
}
.completed__novel-cards .slick-arrow.slick-prev::before {
  content: url(../../../src/Assets/images/slick-prev-icon.png);
  opacity: 1;
  transition: all 0.15s;
  background: #fff;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.completed__novel-cards .slick-arrow.slick-next::before {
  content: url(../../../src/Assets/images/slick-next-icon.png);
  opacity: 1;
  transition: all 0.15s;
  background: #fff;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.completed__novel-cards .slick-arrow.slick-next:hover::before,
.completed__novel-cards .slick-arrow.slick-prev:hover::before {
  width: 50px !important;
  height: 50px !important;
}
/* Completed Novels End */



/* Footer Start */
.footer-sec {
  background-image: url(../../../src/Assets/images/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 80px 0 50px;
  background-position: top center;
}
.footer__first {
  padding-bottom: 40px;
}
.footer__about-body p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
  line-height: 2.3;
}
.footer__logo img {
  width: 140px;
}
.follow__social-icons {
  display: flex;
  align-items: center;
}
.follow__social-icon i {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin: 0 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.follow__social-icon:hover i {
  background: #330b52;
  color: #fff;
  border: 1px solid #fff;
}
.foooter__subhead {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  position: relative;
}
.footer__links .footer__link {
  list-style: none;
}
.footer__links .footer__link a {
  color: #fff;
  line-height: 3;
  font-size: 17px;
  font-weight: normal;
}
.foooter__subhead::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: #ffffff;
  margin-top: 14px;
}
.foooter__subhead::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  width: 40px;
  height: 2px;
  background: #ffffff;
}
.footer__copyright p {
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
.footer__copyright p:before {
  content: "";
  display: inline-blockblock;
  width: 30%;
  height: 2px;
  background: #ffffff;
  left: 0;
  top: 50%;
  position: absolute;
}
.footer__copyright p:after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #ffffff;
  right: 0;
  top: 50%;
  position: absolute;
}
/* Footer End */

/* Media Quries */
@media (max-width: 1600px) {
  .banner-sec .section__heading h1 {
    font-size: 125px;
  }
  /* .banner-sec .banner__img-sec img {
    max-width: 980px;
  } */
  .banner-sec .section__heading h2 {
    /* margin-top: -117px; */
    font-size: 72px;
  }
  .banner-sec button.slick-arrow.slick-next {
    right: 20%;
  }
  .banner-sec button.slick-arrow.slick-prev {
    left: 18%;
  }
  .completed__novel-cards {
    max-width: 1340px;
  }
  .top__author-before img,
  .top__author-after img {
    width: 320px;
  }
}
@media (max-width: 1400px) {
  .banner-sec .section__heading h1 {
    font-size: 120px;
  }
  .banner-sec .section__heading h2 {
    /* margin-top: -114px; */
    font-size: 70px;
  }
  .banner-sec .banner__img-sec img {
    max-width: 950px;
  }
  .completed__novel-card .card-title {
    font-size: 23px;
  }
  .completed__novel-cards {
    max-width: 1280px;
  }
  .banner-sec button.slick-arrow.slick-prev {
    left: 21%;
  }
  .banner-sec button.slick-arrow.slick-next {
    right: 24%;
  }
}
@media (max-width: 1360px) {
  /* .completed__novel-cards {
    max-width: 1200px;
  } */
}
@media (max-width: 1280px) {
  .banner-sec .section__heading h1 {
    font-size: 126px;
  }
  .banner-sec .section__heading h2 {
    /* margin-top: -117px; */
    font-size: 65px;
  }
  .banner-sec button.slick-arrow.slick-prev {
    left: 18%;
  }
  .banner-sec button.slick-arrow.slick-next {
    right: 22%;
  }
  .completed__novel-cards button.slick-arrow.slick-next {
    right: -41px;
  }
  /* .banner-sec .banner__img-sec img {
    max-width: 800px;
  } */
  .completed__novel-cards {
    max-width: 1190px;
  }
  .popular-before img,
  .popular-after img {
    width: 320px;
  }
}
@media (max-width: 1024px) {
  .main-navbar-logo img {
    width: 110px;
    margin-bottom: -58%;
  }
  .main-navbar-list {
    margin: 0 8px;
  }
  .input-group.header__search {
    display: none;
  }
  .searchbox-and-icon-container {
    justify-content: end;
  }
  .banner-sec .section__heading h1 {
    font-size: 96px;
  }
  .banner-sec .section__heading h2 {
    /* margin-top: -88px; */
    font-size: 60px;
    line-height: 0.9;
  }
  /* .banner-sec .banner__img-sec img {
    max-width: 740px;
  } */
  .banner-sec {
    padding: 60px 0 0px;
  }
  /* Author Sec */
  .top-authors .section__heading h1 {
    font-size: 120px;
  }
  .top-authors button.slick-arrow.slick-next {
    right: 2%;
  }
  .section__heading h2 {
    font-size: 55px;
    margin-top: -71px;
  }
  .section__heading p {
    font-size: 15px;
    margin: 10px auto 30px;
  }
  .banner-sec button.slick-arrow.slick-next {
    right: 15%;
  }
  .banner-sec button.slick-arrow.slick-prev {
    left: 11%;
  }

  /*  */
  .section__heading h1 {
    font-size: 96px;
  }
  .feature-books .section__heading h1 {
    font-size: 135px;
  }
  .feature-books .section__heading h2 {
    margin-top: -80px;
  }
  .popular-tags .section__heading h1 {
    font-size: 126px;
  }
  .author__poduct_title {
    font-size: 18px;
    margin-right: 1px;
  }
  .large-tags .large-tag {
    padding: 15px 20px;
  }
  .join-us .section__heading h1 {
    font-size: 120px;
  }
  .large-tags {
    gap: 10px;
  }
  .product__price .discount__price {
    font-size: 24px;
  }
  .product__price .actual__price {
    font-size: 15px;
    margin-right: 5px;
  }
  .completed-novel .section__heading h1 {
    font-size: 130px;
  }
  .completed-novel .section__heading h2 {
    font-size: 59px;
    margin-top: -74px;
  }
  .featured__books p {
    font-size: 16px;
    color: #535353;
  }
  .harry-potter .product__price .discount__price {
    font-size: 20px;
  }
  .completed__novel-cards {
    max-width: 900px;
  }
  .mana-display img {
    max-width: 250px;
  }
  .mana-anime img {
    height: 250px;
  }
  .mana-coin .section__heading h2::before,
  .mana-coin .section__heading h2::after {
    width: 42px;
    height: 46px;
  }
  .harry-potter-bg {
    background-size: cover;
  }
  .harry__potter-section {
    padding: 50px 40px 60px 30px;
  }
  .harrypotter_books-col {
    border-left: 10px solid #fff;
  }
  .footer__copyright p:before,
  .footer__copyright p:after {
    width: 27%;
  }
}
@media (max-width: 991px) {
  .header-navbar {
    padding: 0px 0 !important;
  }
  div#navbarSupportedContent {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: #fff;
    left: 0;
    min-height: 30rem;
    z-index: 999;
    padding: 15px;
  }

  .main-navbar-list a {
    color: #333;
  }

  .main-navbar-list {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 5px;
    padding: 10px;
  }
  .input-group.header__search {
    display: flex !important;
  }
  .main-navbar-logo img {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .header__logo {
    margin-bottom: unset;
  }
  .banner-sec {
    background-size: cover;
    background-position: top center;
  }
  .banner-sec .section__heading h1 {
    font-size: 64px;
  }
  .banner-sec .section__heading h2 {
    /* margin-top: -58px; */
    font-size: 40px;
  }
  .banner-sec .section__heading p {
    max-width: 540px;
  }
  .banner-sec .banner__img-sec img {
    max-width: 600px;
  }
  .top__author-before img,
  .top__author-after img {
    width: 230px;
  }
  .top-authors .section__heading h1 {
    font-size: 100px;
  }
  .section__heading p {
    max-width: 540px;
    padding: 0 15px;
  }
  .section__heading h2 {
    font-size: 55px;
    margin-top: -67px;
  }
  .feature-books {
    background-size: cover;
    padding: 50px 0 50px;
  }
  .featured__books .card-body {
    padding: 10px;
  }
  .featured__books h3.card-title {
    font-size: 20px;
  }
  .featured__books p {
    font-size: 14px;
  }
  .product__price .discount__price {
    font-size: 20px;
  }
  .harry-potter-bg {
    margin-bottom: 30px;
  }
  .harrypotter_book img {
    width: 100%;
    transform: unset;
  }
  .harrypotter_books-title {
    font-size: 24px;
    font-weight: 700;
    max-width: 10ch;
  }
  .harrypotter_books-body {
    font-size: 15px;
  }
  .harry-potter .product__price .discount__price {
    font-size: 25px;
  }
  .harrypotter_books-col {
    border-left: 0px;
    height: 643px;
  }
  .product__price .actual__price {
    font-size: 15px;
  }
  .popular-tags .section__heading h2 {
    font-size: 55px;
    margin-top: -71px;
  }
  .join-us .section__heading h2 {
    font-size: 55px;
    margin-top: -71px;
  }
  .completed-novel {
    padding: 20px 0 40px;
  }
  .completed-novel .section__heading {
    text-align: center;
    margin-bottom: 10px;
  }
  .completed__novel-card .card-title {
    font-size: 18px;
  }
  .completed__novel-cards {
    max-width: 680px;
  }

  .join__us-btns .offer__icon {
    padding: 7px 15px 7px 9px;
    margin-left: 15px;
  }
  .large-tags .large-tag {
    padding: 12px 15px;
    font-size: 17px;
  }
  .offer-remain-time,
  .offer-lable {
    font-size: 28px;
  }
  .footer__first > div {
    margin-bottom: 40px;
  }
  .footer__links .footer__link a {
    line-height: 2;
    font-size: 17px;
  }
  .footer__copyright p:before,
  .footer__copyright p:after {
    width: 19%;
  }
}

@media (max-width: 736px) {
  .harry-potter-bg {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .harry__potter-section {
    padding: 60px 40px 60px 70px;
  }
  .featured__books .card {
    border: 1px solid #000;
    margin-bottom: 40px;
  }

  .main-navbar-logo img {
    width: 80px;
    margin: auto;
    background: transparent;
    border: none;
    border-radius: 50%;
    margin-bottom: 0;
 

  }
}

@media (max-width: 480px) {
  .banner-sec .section__heading h1 {
    font-size: 40px;
  }
  .banner-sec .section__heading h2 {
    /* margin-top: -38px; */
    font-size: 40px;
  }
  .banner-sec .banner__img-sec img {
    max-width: 375px;
  }
  .top-authors .section__heading h1 {
    font-size: 60px;
  }
  .section__heading h2 {
    font-size: 40px;
    margin-top: -47px;
  }
  .feature-books .section__heading h1 {
    font-size: 90px;
  }
  .feature-books .section__heading h2 {
    margin-top: -60px;
  }
  .popular-tags .section__heading h1 {
    font-size: 90px;
  }
  .popular-tags .section__heading h2 {
    font-size: 40px;
    margin-top: -53px;
  }

  .mana-coin .section__heading h1 {
    font-size: 60px;
  }
  .mana-coin .section__heading h2::before,
  .mana-coin .section__heading h2::after {
    width: 34px;
    height: 36px;
  }
  .completed-novel .section__heading h1 {
    font-size: 90px;
  }
  .join-us .section__heading h1 {
    font-size: 71px;
  }
  .join-us .section__heading h2 {
    font-size: 36px;
    margin-top: -45px;
  }
  .completed__novel-cards {
    max-width: 400px;
  }
  .harry__potter-section {
    padding: 40px 10px 40px 10px;
  }
  .harry__potter-content h1 {
    font-size: 40px;
  }
  .harrypotter_books-col {
    height: 360px;
  }
  .offer__icon {
    margin-left: 20px;
  }
  .section__heading .tags .tag {
    padding: 7px 15px;
    margin: 0 4px;
    font-size: 14px;
  }
  .banner-sec .join__us-btns,
  .mana-coin .join__us-btns {
    gap: 0;
  }
  .footer__copyright p:before,
  .footer__copyright p:after {
    display: none;
  }
}

@media (max-width: 428px) {
  .completed__novel-cards {
    max-width: 320px;
  }
  .completed-novel .section__heading h1 {
    font-size: 80px;
  }
  .completed-novel .section__heading h2 {
    font-size: 38px;
    margin-top: -48px;
  }
  .banner-sec .section__heading h1 {
    font-size: 36px;
  }
  .banner-sec .section__heading h2 {
    /* margin-top: -34px; */
    font-size: 35px;
  }
  .join-us .section__heading h2 {
    font-size: 30px;
    margin-top: -38px;
  }
  .join-us .section__heading h1 {
    font-size: 65px;
  }
}
@media (max-width: 414px) {
  .banner-sec .join__us-btns,
  .mana-coin .join__us-btns {
    gap: 15px;
  }
}




.stats {
    margin-bottom: 1rem;
    border-right: 2px solid #fff0;
}

.avatarIcon {
    width: 60px;
    height: 60px;
}



.card-body ul {
    list-style: none;
    padding-left: 20px;
}

.newChapter {
    background-color: orange;
    color: #fff;
    padding: 1px 6px;
    display: inline-block;
    font-size: 13px;
    border-radius: 10px;
    position: relative;
    left: 7px;
}

.font-weight-bold {
    font-weight: bold;
}


.prs{
    margin-left: 8px;
 
}
.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: #5a3473 !important;
    box-shadow: none !important;
}


.accordion-button:not(.collapsed)::after {
    filter: brightness(100) !important;
}

.mainTitle {
    font-size: 22px !important;
    font-weight: 600;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #fff !important;
    outline: 0;
    box-shadow: none !important;
}



.listingBooks div#accordion .card, .card-header {
    border: none !important;
}

.listingBooks .card-body li a {
    margin-bottom: 15px;
    display: inline-block;
}

.listingBooks div#accordion > div {
    margin-bottom: 15px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
    .stats, .stats:not(:last-child) {
        border-color: #fff0;
    }

    .stats:nth-child(odd) {
        border-color: #000;
    }
}

@media screen and (max-width: 767px) {
    .stats, .stats:not(:last-child), .stats:nth-child(odd) {
        border-color: #fff0;
    }
}


p {
    margin-top: 0;
    margin-bottom: 0;
}

 .tabtags{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
 }

 .tabtag {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

 }
 .tabtag:hover{
background-color: rgb(43, 43, 189);
color: #fff;

 }


 .textsha {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 2px 10px;
}


.icon{

  
    background: #360C55;
    border-radius: 1px 18px 17px 0px;
    padding: 4px 9px 7px 11px;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 7px;
    padding-left: 11px;

}
 
.pos{
    position: absolute;
    left: 433px;
    top: 207px;
}
/* .cover button.book{
    font-family: Century Gothic;
font-size: 16px;
font-weight: 700;
line-height: 19.62px;
color: #360C55;
background: #fff;
border: 1px solid #360C55;
padding: 10px 111px;
border-radius: 0px;

}
.cover button.book1{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 91px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;

}
.cover button.book2{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 110px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;
}
.cover button.book3{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 118px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;

}
.cover button.book4{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 132px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;

}
.cover h3{
    font-family: Century Gothic;
font-size: 70px;
font-weight: 700;
line-height: 85.83px;
text-align: left;
color: #535353;

} */
.profile{
    display: flex;
    justify-content: end;
    gap:10px
    
}
/* .cover p.prof{
    font-family: Poppins;
font-size: 19.77px;
font-weight: 500;
line-height: 29.66px;
text-align: left;
color: #0D0D0D;
margin: 0px

}
.cover p.top{
    font-family: Poppins;
    font-size: 14.38px;
    font-weight: 400;
    line-height: 21.57px;
    text-align: left;
color: #434343;
margin: 0px

}
.cover p.more{


font-family: Poppins;
font-size: 12.58px;
font-weight: 700;
line-height: 18.87px;
text-align: left;
color: #360C55;
margin: 0px
} */
.imgicon{
    padding-top: 30px;
  

}
/* .syn{
    background-image: linear-gradient(0deg, #1b0c55, #360c550d), url(../../Assets//images/p_4.png);
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    padding: 35px;
    margin: 48px 0px;
}
.cover p.txt{
  font-family: Century Gothic;
font-size: 17px;
font-weight: 400;
line-height: 35.36px;
text-align:left;
color:#fff;
} */
/* .cover h4{
    font-family: Century Gothic;
font-size: 40px;
font-weight: 700;
line-height: 49.04px;
text-align:center;
color: #FFFFFF;

} */

.select{
    background-image: url(../../Assets//images/faq.png);
    /* background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    padding: 35px;
    margin: 48px 0px; */


    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* padding: 35px; */
    /* margin: 48px 0px; */
}
.cover p.chap{
    font-family: Century Gothic;
font-size: 20.15px;
font-weight: 400;
line-height: 24.7px;
text-align: left;
color:#000;

}
/* .cover button.chapbtn{
    font-family: Century Gothic;
font-size: 12.09px;
font-weight: 700;
line-height: 14.82px;
text-align: left;
color: #FFFFFF;
background: #360C55;
border-radius: 30px;
padding: 8px 25px;

} */
.new{
    display: flex;
    justify-content: end;}

.nw{
        display: flex;
}
    
.acpara{
font-family: Century Gothic;
font-size: 20.15px;
font-weight: 400;
line-height: 24.7px;
text-align: left;
color:#fff;
padding: 12px;
}
.accord{
    background: transparent;
    border: none;
    color: #fff;
}
.accordpara{
    font-family: Century Gothic;
font-size: 20.15px;
font-weight: 400;
line-height: 24.7px;
text-align: left;
color:#000;
border: none;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
  



  .rate{
    /* background-image: url(../../Assets//images/banner.png); */
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    /* padding: 65px; */

}
.ratebg{
    background-color: #fff;    
    padding: 30px;
    border-radius: 16px;
    box-shadow: 4px 6px #41464b17;
    display: flex;
    gap:10px;
   
}
.rate h2{
    font-family: Manrope;
font-size: 96px;
font-weight: 800;
line-height: 96px;
text-align: left;
color: #6100A8;

}
.star{
    display: flex;
}
.rate img{
    width: 85px;
    height: 85px;
    padding: 23px;

}
.rate button{
    font-family: Manrope;
font-size: 12px;
font-weight: 700;
line-height: 15px;
text-align: left;
color: #fff;

background: #360C55;
padding: 7.5px 18px 7.5px 18px;
gap: 0px;
border-radius: 52.5px;

}
.rate button.rev{
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.71px;
    text-align: left;
    color: #360C55;
    border-radius: 0px;
    background: transparent;
    border: none;
    text-decoration: underline;

}
.rate p{
    font-family: Manrope;
font-size: 15px!important;
font-weight: 500;
line-height: 18px;
text-align: left;
color: #6A6A6A;

}
/* .rate img.starimg{
    width:50px;
    height: 50px;
   
} */
/* .num{
    display: flex;
} */
.numstar{
    color: #6100A8;
    padding-left: 6px;
}
.line{
    border-radius: 14px;
    width: 300px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;
 
    margin-left: 7px;
}
.line1{
    border-radius: 14px;
    width: 208px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;
 
    margin-left: 7px;
}
.line2{
    border-radius: 14px;
    width: 157px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;
 
    margin-left: 7px;
}
.line3{
    border-radius: 14px;
    width: 94px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;
    margin-left: 7px;
}
.line4{
    border-radius: 14px;
    width: 47px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;
    margin-left: 7px;
}
.strong{
    border-left: 1px solid #c0c0c0;
    padding: 20px;
}
/* .rate img.starimg{
    width: 52px;
    height: 51px;
    padding: 0px;
} */
.rate p.review{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.95px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;
    padding-left: 11px;
    margin: 0px;
    margin-bottom:10px;
}
.rate p.rev{
    font-family: Poppins;
font-size: 7.75px;
font-weight: 500;
line-height: 11.63px;
letter-spacing: 0.02em;
text-align: left;
color: #5C5C5C;

}
/* .rev{
    font-family: Poppins;
    font-size: 12.75px!important;
    font-weight: 500;
    line-height: 11.63px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #5C5C5C;
    padding-left: 11px;
} */



@media only screen and (max-width: 425px) {
    
.line {
    
    width: 185px;
}
.line1 {

    width: 146px;
}
    .line2 {
       
        width: 116px;
}

.strong .num {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.rate{
    padding: 65px 0px;
}

.rate p.review{
    line-height: 19.95px;
    text-align: center;
}
.strong .rev{
    text-align: center;
    width:100%;
    display: inline-block;
    margin-bottom: 8px;

}

}
@media only screen and (max-width: 375px) {
    .line {
        width: 144px;
    }
    .line1 {
      
        width: 125px;
}
.line2 {

    width: 101px;
}
.line3 {
 
    width: 73px;

}
.strong .rev{
    text-align: center;
    width:100%;
    display: inline-block;
    margin-bottom: 8px;

}

.strong .num {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.rate{
    padding: 65px 0px;
}

.rate p.review{
    line-height: 19.95px;
    text-align: center;
}


}


/*     margin-top: 10px; */


.stars{
    margin-top: 10px;
}


  .last_update {
    /* margin-left: 188px; */
    margin-left:  174px!important;
    width: max-content;
    margin-top: 12px;
}


#select-chapter{
  border-radius: 42px;
  width: 132%;
  background-color: white;
}
