.stats {
    margin-bottom: 1rem;
    border-right: 2px solid #fff0;
}

.dashCard {
    padding: 30px 10px !important;

}

.avatarIcon {
    width: 60px;
    height: 60px;
}

.accordion .accordion-item {
    background-color: transparent !important;
    border: none !important;
}


.productImage img {
    width: 100%;
    object-fit: cover;
    height: 530px;
}


.card-body ul {
    list-style: none;
    padding-left: 20px;
}

.newChapter {
    background-color: orange;
    color: #fff;
    padding: 1px 6px;
    display: inline-block;
    font-size: 13px;
    border-radius: 10px;
    position: relative;
    left: 7px;
}

.font-weight-bold {
    font-weight: bold;
}


.prs {
    margin-left: 8px;

}

.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    /* background-color: #5a3473 !important; */
    box-shadow: none !important;
}

.cover .nottext {
    font-family: Jost;
    font-size: 18.45px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: center;
    background: #000;
    color: #FFFFFF;
    border-radius: 38px;
    border: 1px solid #000;
    padding-right: 10px 21px;
    text-align: center;
    padding: 5px 19px;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(100) !important;
}

.mainTitle {
    font-size: 22px !important;
    font-weight: 600;
}

.accordion-button {
    background-color: transparent !important;

}

.accordion-button:focus {
    z-index: 3;
    border-color: #fff !important;
    outline: 0;
    box-shadow: none !important;
}



.syn {
    background-image: linear-gradient(0deg, #1b0c55, #360c550d), url(../../Assets//images/p_4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35px;
    margin: 48px 0px;
}

.cover p.txt {
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 35.36px;
    text-align: left;
    color: #fff;
}

.tableDropdownMenu {
    border: 1px solid #e0e0e0 !important;
    border-radius: 0.3rem !important;
    min-width: auto !important;
    overflow: hidden !important;
    padding: 0 !important;
    text-align: left !important;
}

.tableAction {
    background: #fff0;
    border: none;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    padding: 0.5rem 1rem;
    text-align: left;
    text-decoration: none;
    transition: .3s linear;
    width: 100%;
}

.listingBooks div#accordion .card,
.card-header {
    border: none !important;
}

.listingBooks .card-body li a {
    margin-bottom: 15px;
    display: inline-block;
}

.listingBooks div#accordion>div {
    margin-bottom: 15px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {

    .stats,
    .stats:not(:last-child) {
        border-color: #fff0;
    }

    .stats:nth-child(odd) {
        border-color: #000;
    }
}

@media screen and (max-width: 767px) {

    .stats,
    .stats:not(:last-child),
    .stats:nth-child(odd) {
        border-color: #fff0;
    }
}


p {
    margin-top: 0;
    margin-bottom: 0;
}

.tabtags {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tabtag {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.tabtag:hover {
    background-color: rgb(43, 43, 189);
    color: #fff;

}


.textsha {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 2px 10px;
}


































































.cover {
    background-image: url(../../Assets//images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 65px; */

}

.cover p {
    /* font-family: Century Gothic; */
    /* font-size: 28.72px; */
    /* font-weight: 700; */
    /* line-height: 35.21px; */
    /* text-align: center; */
    color: #360C55;
}

.rating {
    color: gold;


}

.rate {
    color: #A4A4A4;
}

.rev {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.cover p.review {
    font-family: Inter;
    font-size: 18.33px;
    font-weight: 500;
    line-height: 22.18px;
    letter-spacing: -0.05em;
    /* text-align:center; */
    margin-left: 9px;
    color: #B7B7B7;

}

/* .cover button{
    font-family: Jost;
    font-size: 18.45px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: center;
    background: #000;
    color: #FFFFFF;
    border-radius: 38px;
    border: 1px solid #000;
    padding-right: 0px;
    text-align:center;
} */
.btnrw {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 20px;
}

.imgrw {
    display: flex;
    justify-content: center;

}

.icon {

    /* padding: 4px; */
    background: #360C55;
    border-radius: 1px 18px 17px 0px;
    padding: 4px 9px 7px 11px;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 7px;
    padding-left: 11px;

}

.pos {
    position: absolute;
    left: 433px;
    top: 207px;
}

/* .cover button.book{
    font-family: Century Gothic;
font-size: 16px;
font-weight: 700;
line-height: 19.62px;
color: #360C55;
background: #fff;
border: 1px solid #360C55;
padding: 10px 111px;
border-radius: 0px;

}
.cover button.book1{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 91px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;

}
.cover button.book2{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 110px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;
}
.cover button.book3{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 118px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;

}
.cover button.book4{
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.84px;
   
    color: #000;
background: #fff;

padding: 10px 132px;
border-radius: 0px;
border: 0.2px solid #8030CC;
box-shadow: 0px 0px 1px 0px #0000001A;

}
.cover h3{
    font-family: Century Gothic;
font-size: 70px;
font-weight: 700;
line-height: 85.83px;
text-align: left;
color: #535353;

} */
#title {
    font-family: Century Gothic;
    font-size: 70px;
    font-weight: 700;
    line-height: 85.83px;
    text-align: left;
    color: #535353;

}

.profile {
    display: flex;
    justify-content: end;
    gap: 10px
}

/* .cover p.prof{
    font-family: Poppins;
font-size: 19.77px;
font-weight: 500;
line-height: 29.66px;
text-align: left;
color: #0D0D0D;
margin: 0px

}
.cover p.top{
    font-family: Poppins;
    font-size: 14.38px;
    font-weight: 400;
    line-height: 21.57px;
    text-align: left;
color: #434343;
margin: 0px

}
.cover p.more{


font-family: Poppins;
font-size: 12.58px;
font-weight: 700;
line-height: 18.87px;
text-align: left;
color: #360C55;
margin: 0px
} */
.imgicon {
    padding-top: 30px;


}

.syn {
    background-image: linear-gradient(0deg, #1b0c55, #360c550d), url(../../Assets//images/p_4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35px;
    margin: 48px 0px;
}

/* .cover h4{
    font-family: Century Gothic;
font-size: 40px;
font-weight: 700;
line-height: 49.04px;
text-align:center;
color: #FFFFFF;

}
 
.select{
    background-image: url(../../Assets//images/faq.png);
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    padding: 35px;
    margin: 48px 0px;
}
.cover p.chap{
    font-family: Century Gothic;
font-size: 20.15px;
font-weight: 400;
line-height: 24.7px;
text-align: left;
color:#000;

} */
/* .cover button.chapbtn{
    font-family: Century Gothic;
font-size: 12.09px;
font-weight: 700;
line-height: 14.82px;
text-align: left;
color: #FFFFFF;
background: #360C55;
border-radius: 30px;
padding: 8px 25px;

} */

.cover button.chapbtn {
    font-family: Century Gothic;
    font-size: 12.09px;
    font-weight: 700;
    /* line-height: 14.82px; */
    text-align: left;
    color: #FFFFFF;
    background: #360C55;
    border-radius: 30px;
    padding: 0px 12px;
    margin-left: 11px;
}

.new {
    display: flex;
    justify-content: end;
}

.nw {
    display: flex;
}

/* .accordation{
    background: #360C55;
} */


.accordion-button {
    background-color: transparent;
}

.acpara {
    font-family: Century Gothic;
    font-size: 20.15px;
    font-weight: 400;
    line-height: 24.7px;
    text-align: left;
    color: #fff;
    /* padding: 12px; */
    background-color: transparent;
}

.accord {
    background: transparent;
    border: none;
    color: #fff;
}

.accordpara {
    font-family: Century Gothic;
    font-size: 20.15px;
    font-weight: 400;
    line-height: 24.7px;
    text-align: left;
    color: #000;
    border: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.book__listing-pagination ul {
    flex-wrap: wrap;
    gap: 10px;
}


#pagin li {
    flex-wrap: wrap;
    gap: 10px;
}

.rate {
    /* background-image: url(../../Assets//images/banner.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 65px; */

}

.ratebg {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 4px 6px #41464b17;
    /* display: flex; */
    gap: 10px;
    /* width: 1158px; */

}

.rate h2 {
    font-family: Manrope;
    font-size: 96px;
    font-weight: 800;
    line-height: 96px;
    text-align: left;
    color: #6100A8;

}

.star {
    display: flex;
}

.rate img {
    width: 85px;
    height: 85px;
    padding: 23px;

}

.rate button {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    color: #fff;

    background: #360C55;
    padding: 7.5px 18px 7.5px 18px;
    gap: 0px;
    border-radius: 52.5px;

}

.rate button.rev {
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.71px;
    text-align: left;
    color: #360C55;
    border-radius: 0px;
    background: transparent;
    border: none;
    text-decoration: underline;

}

.rate p {
    font-family: Manrope;
    font-size: 15px !important;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #6A6A6A;

}

.rate img.starimg {
    width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
    /* object-fit: cover!important; */
}

/* .num {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


.num {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin-right: -42px; */
    margin-left: 10p;
}

.numstar {
    color: #6100A8;
    padding-left: 6px;
}

.line {
    border-radius: 14px;
    width: 300px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;

    margin-left: 7px;
}

.line1 {
    border-radius: 14px;
    width: 208px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;

    margin-left: 7px;
}

.line2 {
    border-radius: 14px;
    width: 157px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;

    margin-left: 7px;
}

.line3 {
    border-radius: 14px;
    width: 94px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;
    margin-left: 7px;
}

.line4 {
    border-radius: 14px;
    width: 47px;
    margin-top: 5px;
    height: 6px;
    background-color: #6100A8;
    margin-left: 7px;
}

.strong {
    border-left: 1px solid #c0c0c0;
    padding: 20px;

 
    height: 421px !important;
    overflow-x: auto;
}

.rate img.starimg {
    width: 52px;
    height: 51px;
    padding: 0px;
}

/* .rate p.review{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 14.95px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;
    padding-left: 11px;
    margin: 0px;
    margin-bottom:10px;
}
.rate p.rev{
    font-family: Poppins;
font-size: 7.75px;
font-weight: 500;
line-height: 11.63px;
letter-spacing: 0.02em;
text-align: left;
color: #5C5C5C;

} */
.rev {
    font-family: Poppins;
    font-size: 10px !important;
    font-weight: 500;
    line-height: 11.63px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #5C5C5C;
    padding-left: 11px;
}

.rate p.revpara {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #505050;
    margin-top: 8px;
    /* margin-bottom: 10px; */
}

@media only screen and (max-width: 425px) {

    .line {

        width: 185px;
    }

    .line1 {

        width: 146px;
    }

    .line2 {

        width: 116px;
    }

    .strong .num {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .rate {
        padding: 65px 0px;
    }

    .rate p.review {
        line-height: 19.95px;
        text-align: center;
    }

    .strong .rev {
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-bottom: 8px;

    }

}

@media only screen and (max-width: 375px) {
    .line {
        width: 144px;
    }

    .line1 {

        width: 125px;
    }

    .line2 {

        width: 101px;
    }

    .line3 {

        width: 73px;

    }

    .strong .rev {
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-bottom: 8px;

    }

    .strong .num {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .rate {
        padding: 65px 0px;
    }

    .rate p.review {
        line-height: 19.95px;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {


    .ratebg {

        width: fit-content;

    }
}


/*     margin-top: 10px; */


.stars {
    margin-top: 10px;
    font-size: 12px;
}




.bookdetail-date {
    width: max-content;
}










































































.feature-books {
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../../src/Assets/images/Featured_bg.png); */
    background-image: url(../../../src/Assets/images/featured-bg-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 60px 0 0;
}

.feature-books .section__heading p,
.feature-books .section__heading h2 {
    color: #fff;
}

.feature-books .section__heading h2 {
    margin-top: -140px;
}

.feature-books .section__heading h1 {
    -webkit-text-stroke: 1px #fff;
    opacity: 0.3;
}

.featured__books h3.card-title {
    font-size: 26px;
    font-weight: 700;
}

.featured__books p {
    font-size: 17px;
    color: #535353;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.featured__book-desc {
    font-size: 16px;
    line-height: 2;
}

.featured__books .card {
    border: 1px solid #000;
}

.featured__books .card,
.featured__books .card-img-top {
    border-radius: unset;
}

.featured__books .card-body {
    padding: 25px;
}

.product__price-div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-books .discount__price {
    font-size: 26px;
    font-weight: 700;
    color: #360c55;
}

.feature-books .actual__price {
    font-size: 14px;
    color: #360c55;
}

.feature-books .product__price-div {
    margin: 12px 0;
}

.product_hover-effect:hover .product__price-div .product__icon img {
    filter: brightness(0) invert(1);
}

.rating__div {
    color: #f8c100;
}

.product_hover-effect:hover .featured_books-body,
.product_hover-effect:hover .featured_books-body h3,
.product_hover-effect:hover .featured_books-body p,
.product_hover-effect:hover .featured_books-body .discount__price,
.product_hover-effect:hover .featured_books-body .actual__price {
    transition: all 0.5s;
}

.product_hover-effect:hover .featured_books-body {
    /* background-color: #360c55; */
    background-image: url(../../../src/Assets/images/books-hover-bg.png);
    background-size: cover;
}

.product_hover-effect:hover .featured_books-body h3,
.product_hover-effect:hover .featured_books-body p,
.product_hover-effect:hover .featured_books-body .discount__price {
    color: #fff;
}

.product_hover-effect:hover .featured_books-body .actual__price {
    color: #868686;
}



.header-navbar.jost-font {
    padding: 15px 0;
}







html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1 !important;
    transform: none !important;
}

.author__products_img {
    height: 400px;
}















@media only screen and (max-width: 425px) {



    .slick-prev {
        left: -2px;
        z-index: 20;
        bottom: 8px;
    }

    .slick-next {
        right: 9px;
        z-index: 20;
    }



}